.email-details-container{
    height: 100%;
    width: calc(100% - 4em);
    /* background-color: red; */

    grid-column: 2/3;
    grid-row: 2/-1;

    position: absolute;
    inset-inline-start: 6em;
}

.email-details{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: 3.5em auto 7em;
}

.btn-container{
    grid-row: 1/2;
}

.details-header-container{
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.details-header-container>h2{
    margin-inline-start: 15px;
}
.details-header-container>h2>span{
    margin-inline-start: 15px;
    font-size: 0.7em;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    padding: 3px;
    border-radius: 5px;

    cursor: pointer;
}
.details-header-container>h2>span:hover{

    background-color: var(--dark-gray);
    color: var(--light-gray);

}

.edit-mail{
grid-column: 3/4;
grid-row: 2/3;

align-self: center;

}

.btn-container{
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container>button{
    cursor: pointer;
    border: none;
    background-color: transparent;



    border-radius: 50%;
    height: 3em;
    width: 3em;

    margin: 5px;
}

.nav-btn{
align-self: center;

cursor: pointer;
border: none;
background-color: transparent;

border-radius: 50%;
height: 3em;
width: 3em;

margin: 5px;
}

.btn-container>button:hover{
    background-color: var(--dark-gray);
}
.nav-btn:hover{
    background-color: var(--dark-gray);
}

.email-details>p{
    grid-row: 3/4;
    grid-column: 2/3;
}

.sender-info{
    display: flex;
    align-items: center;

    gap: 10px;
    padding-inline-start: 5px;
}

.profile-pic{
    width: 3em;
    height: 3em;
    align-self: center;

    padding: 5px;
    border-radius: 50px;
}

.sender-info.name{
    align-self: center;
    
}

@media (max-width:950px) {

    .details-header-container>h2{
        font-size: 1.5em;
    }
    
}
@media (max-width:400px) {
    .email-details-container{
        inset-inline-start: 5px;
        width: 95%;
    }

    .details-header-container>h2{
        font-size: 1em;
    }
    .details-header-container>p{
        font-size: 0.7em;
        font-weight: bold;
    }

    .edit-mail>i{
        font-size: 1em;
    }
}
