.nav-bar-container{
    grid-row: 1/-1;
    grid-column: 1/2;


    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 5px;

    background-color: var(--light-gray);

     transition: .4s;
     width: 3em;
}


.nav-bar-container:hover{
    /* width: calc(10% + 10em); */
    width: 15em;
}


.folder>i{
    padding: 15px;
    /* background-color: green; */

    transition: .2s;
}
.nav-bar-container>div{
   
    cursor: pointer;
}

.folder:hover>i{
    /* font-size: 1.5em; */
    
}

.folder:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--mid-gray);
}



.folder{
    display: flex;
    align-items: center;
    
    /* background-color: blue; */
    border-radius: 25px;


}

.folder.compose{

    background-color: rgb(166, 215, 246);
}

.folder:hover {
    background-color: var(--dark-gray);
}
.active-folder{
    background-color: rgb(156, 156, 237);
}
.folder.active-folder:hover{
    background-color: rgb(116, 116, 187);
}
.folder.compose:hover{

    background-color: rgb(153, 201, 231);
}
.nav-text{
    display: none;
    /* opacity: 0; */
    transition: 0.4s;
}

.nav-bar-container:hover>div>.nav-text{
    /* opacity: 1; */
    display: block;
}
.nav-bar-container:hover>a>div>.nav-text{
    /* opacity: 1; */
    display: block;
}

.inbox-folder-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar-container:hover .inbox-folder-container{
    width: 9em;
}

.fa-inbox::after{
    position: absolute;
    content: '';


    width: 10px;
    height: 10px;
    border-radius: 50%;

    background-color: crimson;
}

.nav-bar-container:hover .fa-inbox::after{
    display: none;
}

@media (max-width: 950px) {
    .nav-bar-container{
    }
}

@media (max-width: 400px) {
    .nav-bar-container{
        display: none;
        top: 159px;
        width: 3.4em;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    i{
        font-size: 1.3em;
    }
}