.email-compose-container{
    position: absolute;

    inset-inline-start: 0px;
    bottom: 0px;

    /* height: 50vh; */
    /* width: 40vw; */

    background-color: white;
    display: none;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    z-index: 2;
}

.compose-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: aliceblue;
    cursor: pointer;

   
}

.compose-header-container>.x-btn{
    margin: 10px;
    padding: 5px;
    cursor: pointer;

}

.compose-header-container>.x-btn:hover{
    background-color: gray;

}

.compose-header-container>*{
    padding: 15px;


}

.inputs-container{
    display: grid;
}

.inputs-container>*{
    display: flex;
    gap: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.303);
    width: 90%;
    justify-self: center;

    padding: 10px;
}
.inputs-container>*>*{
    border: none;
    outline: none;

    margin: 5px;

}

.body-input{
    margin: 10px;
    width: 90%;
    height: 25vh;

    border: none;
    outline: none;
}

.send-btn{


    background-color: rgb(48, 48, 255);
    color: white;

    padding: 1em;
    border-radius: 25px;

    border: none;

    margin: 15px;

    width: 80px;

    cursor: pointer;
}

.send-btn:hover{

    box-shadow: rgba(0, 166, 255, 0.534) 0px 6px 12px -2px, rgba(0, 166, 255, 0.792) 0px 3px 7px -3px;
}

.compose-btn{
    position:fixed;
    bottom: 30px;
    right: 25px;

    padding: 20px;
    border-radius: 50px;

    border: none;
    height: 60px;
    width: 150px;

    background-color: #EAF1FC;

    display: none;
}

.sender{
    background-color: var(--mid-gray);
    padding: 3px;

    border-radius: 5px;
}

@media (max-width: 950px) {
    .compose-btn{
        display: block;
    }   
}