.nav-bar-container{
    grid-row: 1/-1;
    grid-column: 1/2;

    transition-duration: 0.4s;
    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 5px;
}

.nav-bar-container{
    /* width: 15em; */

    background-color: var(--light-gray);

    /* display: none; */
}



.nav-bar-container>div>i{
    padding: 25px;
    /* background-color: green; */

    transition: .2s;
}
.nav-bar-container>div{

    cursor: pointer;
}

.nav-bar-container>div:hover>i{
    font-size: 1.5em;
    
}

.nav-bar-container>div:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--mid-gray);
}

.nav-bar-container:hover{
    width: calc(10% + 10em);
}

.folder{
    display: flex;
    align-items: center;
    
    /* background-color: blue; */
    border-radius: 25px;


}

.folder:first-of-type{

    background-color: rgb(166, 215, 246);
}

.folder:hover {
    background-color: var(--dark-gray);
}
.active-folder{
    background-color: rgb(156, 156, 237);
}
.folder.active-folder:hover{
    background-color: rgb(116, 116, 187);
}
.folder:first-of-type:hover{

    background-color: rgb(166, 215, 246);
}
.nav-text{
    display: none;
}

.nav-bar-container:hover>div>.nav-text{
    display: block;
}