.email-details-container{
    height: 100%;
    width: 100%;
    /* background-color: red; */

    grid-column: 2/3;
    grid-row: 2/-1;
}

.email-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) ;
}

.details-header-container{
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.details-header-container>h2{
    margin-inline-start: 15px;
}

.details-header-container>.edit-mail{


}

.btn-container{
    grid-column: 1/-1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container>button{
    cursor: pointer;
    border: none;
    background-color: transparent;



    border-radius: 50%;
    height: 3em;
    width: 3em;

    margin: 5px;
}

.nav-btns>button{
align-self: center;

cursor: pointer;
border: none;
background-color: transparent;

border-radius: 50%;
height: 3em;
width: 3em;

margin: 5px;
}

.btn-container>button:hover{
    background-color: var(--dark-gray);
}
.nav-btns>button:hover{
    background-color: var(--dark-gray);
}

.email-details>p{
    margin-inline-start: 25px;
}