.filter-search-container{
    display: grid;
    grid-template-rows: repeat(2,1fr);

    /* width: fit-content; */
    height: fit-content;

    background-color: var(--light-gray);
}

.search-container{

    display: flex;
    gap: 5px;

    background-color: rgb(177, 177, 245);
    width: fit-content;

    padding: 15px;

    margin: 5px;

    border-radius: 15px;

    width: 35vw;

    align-items: center;
    justify-items: center;
}

.search-container>input{
    background-color: rgb(177, 177, 245);
    outline: none;
    border: none;
    width: 27vw;
}
.search-container>input:focus{
    background-color: white;

}
.search-container:has(input:focus) {
    background-color: white;

}

.search-container:has(input:focus)>.fa-x{
    opacity: 1;
    cursor: pointer;

}

.search-container>.fa-x{

padding: 5px;
border-radius: 50%;
width: 20px;
height: 20px;
text-align: center;

opacity: 0;

}
.search-container>.fa-x:hover{

background-color: var(--mid-gray);
}

.filter-container{

}

.btn.filter{
    /* position: relative; */
    border-radius: 25px;
    border: 1px solid gray;

    padding: 5px;

    min-width: 60px;
}

.btn.filter:hover{
background-color: var(--mid-gray);
}

.filter.active{
    background-color: var(--dark-gray);
}