 /* mail list */

.mail-list-container{
    /* position: relative; */
}



 .mail-container{
    display: grid;
    grid-template-columns: 1fr 15fr 12fr 18fr 5fr;


    align-items: center;
    /* justify-content: space-between; */
    justify-items: start;

    border-left: 1px solid var(--mid-gray);
    border-right: 1px solid var(--mid-gray);
    border-top: 1px solid var(--mid-gray);

    cursor: pointer;

    font-size: 0.9em;
   /* white-space: nowrap; */
   /* text-align: start; */
}

.mail-container:hover{
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mail-container:nth-last-of-type(1){

    border-bottom: 1px solid var(--mid-gray);
    
 }

 .mail-container>h3{
   overflow: hidden;
   white-space: nowrap;
   width: 20vw;

   font-weight: bold;
 }

 .favorite{
   

    color: rgb(255, 204, 0);
 }

 .mail-container>i{
        padding: 10px;
      border-radius: 50%;
 }

 .mail-container>i:hover{


    background-color: var(--dark-gray);
 }

.preview-body{
   width: 30vw;
   height: 25px;
   overflow: hidden;
   white-space: nowrap;
}

.mail-container:hover>.preview-body{
grid-column: 4/6;
}

 .edit-mail>i{
    cursor: pointer;

 }

 .mail-container>.edit-mail{
    display: none;

    /* gap: 15px; */
 }

 .mail-container:hover>.edit-mail{
    display: flex;
    grid-column: 5/-1;
    grid-row: 1/2;
   }
   .mail-container:hover>.time-container{
      display: none;
      /* grid-column: 5/-1; */
      /* grid-row: 1/2; */
   }
   
   .mail-container:hover>.preview-body{
      grid-row: 1/2;
      
 }

 .preview-body{
   align-self: center;
 }

 .edit-mail>i{
    padding: 10px;
    border-radius: 50%;
 }

 .edit-mail>i:hover{
    background-color: var(--dark-gray);
 }

 
 .not-read>h3, .not-read>.time-container{
    font-family: gmailRobertoBold;
}

.not-read>.preview-body{
   font-family: gmailRoberto;
}

.read{
      background-color: rgb(211, 223, 247);
}




