/* note list */
.note-list-container {
    display: block;
    padding: 16px;
}

.note-list {
    display: grid;
    padding: 16px;

    @media(min-width:400px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 50px;
        list-style: none;
        margin-bottom: 16px;
    }

    @media(min-width:768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width:968px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width:1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.note-list li {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: height 0.3s ease;
    overflow: hidden;
    font-weight: bold;

}

.note-txt {
    word-wrap: break-word;

}

.todo-list {
    background-color: whitesmoke;
    margin-bottom: 16px;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    word-break: break-word;
}

.todo-list li .task-action {
    margin-left: auto;
}

.todo-list li:nth-child(even) {
    background-color: lightgray;
}

.done {
    text-decoration: line-through;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 10px;
    gap: 10px;
}