 /* note index */
 .notes-main-page {
     font-family: 'Arial', sans-serif;
     padding: 20px;
     margin: auto;
 }

 h2 {
     color: #333;
     margin-bottom: 20px;
     text-align: center;
     font-size: 2em;
 }

 .new-note,
 .new-todo,
 .new-image,
 .new-video,
 .filter-notes {
     padding: 15px;
     background-color: #29527a;
     margin-bottom: 15px;
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     transition: transform 0.2s, background-color 0.3s;
 }

 .new-note:hover,
 .new-todo:hover,
 .new-image:hover,
 .new-video:hover,
 .filter-notes:hover {
     background-color: #e0e8f0;
     transform: scale(1.02);
 }

 input[type="text"] {
     width: calc(100% - 130px);
     padding: 10px;
     border: 2px solid #d1d9e6;
     border-radius: 5px;
     margin-right: 10px;
     font-size: 1em;
     transition: border-color 0.3s;
 }

 input[type="text"]:focus {
     border-color: #a0b4d0;
     outline: none;
 }

 button {
     font-weight: bold;
     cursor: pointer;
     padding: 10px 15px;
     background-color: #f0f4f8;
     color: black;
     border: none;
     border-radius: 5px;
     transition: background-color 0.3s, transform 0.2s;
 }

 button:hover {
     transform: scale(1.05);
 }

 button:active {
     transform: scale(1);
 }

 button i {
     margin-left: 5px;
 }

 .new-note button,
 .new-todo button {
     width: 100px;
 }

 .filter-notes {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }