header {

    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
    background-color: rgb(153, 132, 229);
    border-radius: 15%;
    height: 1.5em;
}


nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.menu-btn{
    margin-inline-end: 15px;
    font-size: 1.5em;
 
    /* padding: 5px; */
    border-radius: 15px;
    cursor: pointer;
  }

  .menu-btn:hover{
    background-color: aquamarine;
  }


 
  .nav-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);

    position: fixed;
    inset-inline-end: 0px;

    height: fit-content;
    width: 40vw;
    padding: 15px;
    border-radius: 5%;
    
    background-color: var(--light-gray);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.icon{
    border-radius: 15%;
    background-color: white;
}

.icon:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.hidden{
    display: none;
}

 
